TELIA_BASE_URL=https://TODO
TELIA_TOKEN_URL=https://TODO
TELIA_CLIENT_ID=TODO
TELIA_CLIENT_SECRET=TODO

LINKMOBILITY_BASE_URL=https://TODO
LINKMOBILITY_PLATFORM_ID=TODO
LINKMOBILITY_PLATFORM_PARTNER_ID=TODO
LINKMOBILITY_USERNAME=TODO
LINKMOBILITY_PASSWORD=TODO